* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --very-dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --very-light-gray: hsl(0, 0%, 98%);
}

body {
  font-family: Poppins, "sans serif";
  font-size: 15px;
  background-color: var(--very-light-gray);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 70%;
}

.main-article__container {
  text-align: center;
  padding: 0 300px;
}

.main-heading {
  font-size: 30px;
  font-weight: 200;
}

.second-heading {
  font-size: 30px;
  font-weight: 600;
}

.main-article {
  font-size: 14px;
  font-weight: 200;
  margin: 20px 0 50px;
}

.grid-item-1 {
  grid-column-start: 1;
  grid-column-end: 4;
}

.grid-item-2 {
  grid-column-start: 1;
  grid-column-end: 2;
  margin-top: 25%;
}

.grid-item-3 {
  grid-column-start: 2;
  grid-column-end: 3;
}

.grid-item-4 {
  grid-column-start: 3;
  grid-column-end: 4;
  margin-top: 25%;
}

.card-container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
}

.middle-container-1 {
  margin: 25px auto;
}

.middle-container-2 {
  margin: 0 auto;
}

.double-container {
  align-items: center;
  margin-bottom: 10px;
}

.float-right {
  margin-left: 16%;
}

.line-cyan {
  border-top: 5px solid var(--cyan);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.line-red {
  border-top: 5px solid var(--red);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.line-orange {
  border-top: 5px solid var(--orange);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.line-blue {
  border-top: 5px solid var(--blue);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card-article {
  margin: 15px 50px 0 15px;
}

.card-article__heading {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: 600;
}

.card-article__text {
  font-size: 12px;
  color: gray;
}

.img-container {
}

.img {
  margin-left: 75%;
  margin-top: 10%;
}

.container-shadow {
  box-shadow: 5px 5px 20px lightgray;
}

.double-container {
  margin: 0 50px 0 90px;
}

@media only screen and (max-width: 600px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
  }

  .float-right {
    margin-left: 0;
  }

  .main-article__container {
    text-align: center;
    padding: 0;
  }

  .grid-item-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    margin-top: 15px;
  }

  .double-container {
    margin: 0px;
  }
}
